{
    auto_https off
    servers {
        max_header_size 25MB
    }
}

:8080 {
    encode gzip zstd

    request_body {
        max_size {$FILE_SIZE_LIMIT:5242880}
    }

    handle /spaces/* {
        reverse_proxy localhost:3002
    }

    handle /live/* {
        reverse_proxy localhost:3005
    }

    handle /api/* {
        reverse_proxy localhost:3004
    }

    handle /openhost-auth/* {
        uri strip_prefix /openhost-auth
        reverse_proxy localhost:3006
    }

    handle /auth/* {
        reverse_proxy localhost:3004
    }

    handle /god-mode/* {
        reverse_proxy localhost:3003
    }

    handle /* {
        forward_auth localhost:3006 {
            uri /check-session
        }
        reverse_proxy localhost:3001
    }
}
